*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/buildSrc/build/
/data/build/
/data/build/intermediates/javac/debug/classes/
/domain/build/
/inject/build/
/inject/build/intermediates/javac/debug/classes/
/match/build/
/match/build/intermediates/javac/debug/classes/
/teams/build/
/teams/build/intermediates/javac/debug/classes/
/ui/build/
/ui/build/intermediates/javac/debug/classes/